body {
	background-color: #0066ff !important;
}

#container {
	max-width: 800px;
	margin: auto;
}

.list-group {
	margin-top: 50px;
}

.list-group-item {
	background-color: #ffa600 !important;
	font-weight: 600;
	font-family: Roboto;
	font-size: 1.3em;
}

#todo-form {
	margin-top: 15px;
}

.add-todo-btn {
	margin-bottom: 5px;
}
